@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$device-small: "640px";
$device-med: "768px";
$device-large: "1024px";
$device-xlarge: "1280px";

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-orange: #fc851e;
    --color-grey:#666;
    --color-transparent-black: #000000cc
    ;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}