// Place your Sass imports here...
@use "./components/show-by-room";
@use "./global";
@use "./components/header";
@use "./components/main";
@use "./components/best-sellers";
@use "./components/footer";
@use "./components/interactions";
@use "./components/video-popup";
@use "./components/news-slider";
@use "./components/banner";

body {
  margin: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
