@use "./components/main" ;
@use "./global";
*{
  font-family: 'Source Sans Pro', sans-serif;
}
$footer-text-color: grey;
$hover-orange: orange;
// Best Sellers h1 Text
.best-sellers h1{
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: 300;
    font-size: 50px;
}

//Best Sellers
.speakers-container{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.speakers-items{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  p{
    &:hover {
        color: #f15a24;
        cursor: pointer
    }

  }
  button{
    background-color: #f15a24;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 4px;
    width: 125px;
    &:hover {cursor: pointer;}
  }
  /*.speakers-items-1{
    //border: 1px solid rebeccapurple;
  }*/
}

.speakers-items img{
    height: 50%;
}
@media (max-width: 1024px) {
  .speakers-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 760px) {
  .speakers-items {
    grid-template-columns: repeat(3, 1fr);
    img{
      height: 30%;
    }
  }
}
@media (max-width: 460px) {
  h1{
    padding-bottom: 20px;
  }
  .speakers-items {
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    p{
      display: flex;
      font-size: 19px;
      position: relative;
      bottom: 83%;
      padding-top: 10px;
      padding-left: 20px;
    }
    img{
      position: relative;
      display: flex;
      padding-left: 20px;
      height:150px;
    }
     button{
     position: relative;
     display: flex;
     left: 60%;
     text-align: center;
     justify-content: center;
     bottom: 70%;
     padding: 10px;
    }
  }
}


