@use "../global";

.all-new-container{
    padding: 10px 30px;
    background-image: url(../images/bg-all-new-section-phone-square.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    height: 45vh;
    h2 {
            font-size: 2rem;
            color: var(--color-white);
            margin-bottom: 0;
            line-height: 1;
            font-weight: 400;
        }
    
    h3 {
        font-size: 1.2rem;
        font-weight: lighter;
        color: var(--color-white);
        margin-top: 0.5rem;
    }
    
    button{
        background-color: var(--color-white);
        color: var(--color-grey);
        border: none;
        padding: 14px 25px;
        border-radius: 5px;
        font-size: 1rem;
        
    }
}
.feeling-lucky-container{
    padding: 10px 30px;
    background-image: url(../images/bg-feeling-lucky-section-phone-square.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    height: 45vh;
    h2 {
        font-size: 2rem;
        color: var(--color-white);
        margin-bottom: 0;
        line-height: 1;
        font-weight: 400;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: lighter;
        color: var(--color-white);
        margin-top: 0.5rem;
    }

    button {
        background-color: var(--color-white);
        color: var(--color-grey);
        border: none;
        padding: 14px 25px;
        border-radius: 5px;
        font-size: 1rem;

    }
}
.our-story-container{
    padding: 10px;
    background-image: url(../images/bg-our-story-section-phone-square.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(175, 168, 168);
    background-blend-mode: multiply;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 2.8rem;
        color: var(--color-white);
        margin-bottom: 1.5rem;
        line-height: 1;
        font-weight: 400;
    }

    p {
        font-size: 1rem;
        font-weight: lighter;
        color: var(--color-white);
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    button {
        background-color: var(--color-orange);
        color: var(--color-white);
        border: none;
        padding: 14px 25px;
        border-radius: 5px;
        font-size: 1rem;

    }
}

@media(min-width: global.$device-small){
    .all-new-container{
        background-image: url(../images/bg-all-new-section.jpg);
        background-blend-mode: normal;
        height: 30vh;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        .sub-contents {
                position: absolute;
                right: 0;
                top: 15%;
                overflow: hidden;
                padding: 5px 30px;
            }
        
            .blurry-background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-black);
                opacity: 0.5;
            }
        
            .clear-content {
                background-color: transparent;
                filter: blur(0px);
        
                h2 {
                    font-size: 2rem;
                    color: var(--color-white);
                    margin-bottom: 0;
                    line-height: 1;
                    font-weight: 400;
                }
        
                h3 {
                    font-size: 1.5rem;
                    font-weight: lighter;
                    color: var(--color-white);
                    margin-top: 0.5rem;
                }
        
                button {
                    background-color: var(--color-white);
                    color: var(--color-grey);
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 0.8rem;
                    margin-bottom: 15px;
                }
            }
    }
    .feeling-lucky-container{
        background-image: url(../images/bg-feeling-lucky-section.jpg);
        background-blend-mode: normal;
        height: 30vh;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: relative;
    
        .sub-contents {
            position: absolute;
            right: 0;
            top: 15%;
            overflow: hidden;
            padding: 5px 30px;
        }
    
        .blurry-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-black);
            opacity: 0.5;
        }
    
        .clear-content {
            background-color: transparent;
            filter: blur(0px);
    
            h2 {
                font-size: 2rem;
                color: var(--color-white);
                margin-bottom: 0;
                line-height: 1;
                font-weight: 400;
            }
    
            h3 {
                font-size: 1.5rem;
                font-weight: lighter;
                color: var(--color-white);
                margin-top: 0.5rem;
            }
    
            button {
                background-color: var(--color-white);
                color: var(--color-grey);
                border: none;
                padding: 10px;
                border-radius: 5px;
                font-size: 0.8rem;
                margin-bottom: 15px;
            }
        }
    }
    .our-story-container{
        padding: 10px;
        height: 30vh;
        min-height: 40vh;
        background-image: url(../images/bg-our-story-section.jpg);
        background-blend-mode: normal;

        h2 {
                font-size: 2rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
                line-height: 1;
                font-weight: 400;
            }
        
            p {
                font-size: 1rem;
                font-weight: lighter;
                color: var(--color-white);
                margin-top: 0.5rem;
                margin-bottom: 1.5rem;
            }
        
            button {
                background-color: var(--color-orange);
                color: var(--color-white);
                border: none;
                padding: 8px 15px;
                border-radius: 5px;
                font-size: 0.8rem;
        
            }
    }
}


@media(min-width: global.$device-med){
    .all-new-container{
        height: 45vh;
        min-height: 55vh;
        .sub-contents {
                position: absolute;
                right: 0;
                top: 15%;
                overflow: hidden;
            }
            .clear-content {
                h2 {
                    font-size: 2.8rem;
                }

                h3 {
                    font-size: 1.8rem;
                }

                button {
                    font-size: 1rem;
                }
            }
    }
    .feeling-lucky-container{
        height: 45vh;
        min-height: 55vh;
        .sub-contents {
                position: absolute;
                right: 0;
                top: 15%;
                overflow: hidden;
            }
        
            .clear-content {
                h2 {
                    font-size: 2.8rem;
                }
        
                h3 {
                    font-size: 1.8rem;
                }
        
                button {
                    font-size: 1rem;
                }
            }
    }
    .our-story-container{
        height: 45vh;
        min-height: 55vh;
        h2 {
                font-size: 2.8rem;
            }
        
        p {
            font-size: 1.5rem;
        }
    
        button {
            font-size: 1.2rem;
        }
    }
}

@media(min-width: global.$device-large){
    .all-new-container{
        min-height: 70vh;
        height: 50vh;
        .sub-contents {
                position: absolute;
                right: 0;
                top: 15%;
                overflow: hidden;
                padding: 40px 50px;
            }             
    }
    .feeling-lucky-container{
        min-height: 70vh;
        height: 50vh;
        .sub-contents {
                position: absolute;
                right: 0;
                top: 15%;
                overflow: hidden;
                padding: 15px 30px;
            }
    }
    .our-story-container{
        min-height: 70vh;
        height: 50vh;
    }
}

@media(min-width: global.$device-xlarge){
    .all-new-container{
        min-height: 80vh;
        .sub-contents {
                position: absolute;
                right: 0;
                top: 15%;
                overflow: hidden;
            }
        
            .clear-content {
                h2 {
                    font-size: 3.5rem;
                }
        
                h3 {
                    font-size: 2.5rem;
                }
        
                button {
                    font-size: 1.5rem;
                }
            }
    }
    .feeling-lucky-container{
        min-height: 80vh;
        .sub-contents {
                position: absolute;
                right: 0;
                top: 15%;
                overflow: hidden;
                padding: 15px 30px;
            }
            .clear-content {
                h2 {
                    font-size: 3.5rem;
                }
        
                h3 {
                    font-size: 2.5rem;
                }
        
                button {
                    font-size: 1.5rem;
                }
            }
    }
    .our-story-container{
        min-height: 80vh;
        h2 {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 2.5rem;
        }

        button {
            font-size: 1.5rem;
        }
    }
}