
.all-new-container{
    padding: 10px 30px;
    background-image: url(../images/bg-all-new-section-phone-square.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    height: 75vh;
    h2 {
            font-size: 2rem;
            color: var(--color-white);
            margin-bottom: 0;
            line-height: 1;
            font-weight: 400;
        }
    
    h3 {
        font-size: 1.2rem;
        font-weight: lighter;
        color: var(--color-white);
        margin-top: 0.5rem;
    }
    
    button{
        background-color: var(--color-white);
        color: var(--color-grey);
        border: none;
        padding: 14px 25px;
        border-radius: 5px;
        font-size: 1rem;
        
    }
}
.feeling-lucky-container{
    padding: 10px 30px;
        background-image: url(../images/bg-feeling-lucky-section-phone-square.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: grey;
        background-blend-mode: multiply;
        height: 75vh;
    
        h2 {
            font-size: 2rem;
            color: var(--color-white);
            margin-bottom: 0;
            line-height: 1;
            font-weight: 400;
        }
    
        h3 {
            font-size: 1.2rem;
            font-weight: lighter;
            color: var(--color-white);
            margin-top: 0.5rem;
        }
    
        button {
            background-color: var(--color-white);
            color: var(--color-grey);
            border: none;
            padding: 14px 25px;
            border-radius: 5px;
            font-size: 1rem;
    
        }
}
.our-story-container{
    padding: 10px;
    background-image: url(../images/bg-our-story-section-phone-square.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(175, 168, 168);
    background-blend-mode: multiply;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 2.8rem;
        color: var(--color-white);
        margin-bottom: 1.5rem;
        line-height: 1;
        font-weight: 400;
    }

    p {
        font-size: 1rem;
        font-weight: lighter;
        color: var(--color-white);
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    button {
        background-color: var(--color-orange);
        color: var(--color-white);
        border: none;
        padding: 14px 25px;
        border-radius: 5px;
        font-size: 1rem;

    }
}



