@use "./components/main" ;
@use "./global";


.news-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: relative;
}

.news-container {
    width: 100%;
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        padding-top: 80px;
        justify-content: center;
        text-align: center;
        font-size: 10vw;
        font-weight: 300;
    }
}

.news-slider-container {

    .news-slider {
        position: relative;
    }
    .news-slide{
        // margin-right: 90px;
        img{
            width: 100%;
            height: auto;
            max-width: 100%;
            margin: 0 auto  ;
        }
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    .news-next, .news-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        cursor: pointer;
        font-size: 2em;
        color: var(--color-orange);
    }
    .news-prev {
        left: 10px;
    }
    .news-next {
        right: 10px;
    }   
}





// .news-slide{
//     margin-right: 20px;
//     height: auto;
//     margin: 0 30px 0 30px;
//     img{
//         width: 100%;
//         height: auto;
//         max-width: 150px;
//         margin: 0 auto  ;
//     }
// }



@media screen and (min-width: 500px) {
    .news-slide{
        margin:  0 15vw 0 15vw;

    }
}
@media screen and (min-width: 320px) {

    .news-container {
        h1 {
            margin-bottom: 0;
        }
    }
    .news-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15vw 30px  15vw 30px;
    }
    .news-next{
        display: none;
    }
    .news-prev{
        display: none;
    }
}