@import "./components/main";
@import "./global";

.news-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-container {
    width: 100%;
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        padding-top: 80px;
        justify-content: center;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 300;
    }
}
.news-slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .news-slider {
        width: 80%;
        margin: 0 auto;
    }

    .news-slide {
        img {
            height: auto;
            margin: 0 auto;
        }
    }

    .slick-track {
        margin-left: auto;
        margin-right: auto
    }


    .slick-next,
    .slick-prev {
        height: 50px;
        width: 50px;
        position: absolute;
        padding: 0;
        border: none;
        color: transparent;
        z-index: 20;
        cursor: pointer;


        &:not(.slick-prev) {
            right: -10%;
            top: calc(50% - 25px);
            background-color: $orange;
            mask: url("../../images/banner-carousel-next.svg");
            mask-repeat: no-repeat;
            -webkit-mask: url("../../images/banner-carousel-next.svg");
            -webkit-mask-repeat: no-repeat;

        }

        &:not(.slick-next) {
            left: -10%;
            top: calc(50% - 25px);
            background-color: $orange;
            mask: url("../../images/banner-carousel-prev.svg");
            mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask: url("../../images/banner-carousel-prev.svg");
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
        }
    }

}


//x-small screen size adds padding when no slider is in effect
@media screen and (min-width:$device-xsmall) {
    
    .news-container {
        h1 {
            margin-bottom: 0;
        }
    }
    .news-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15vw 30px 15vw 30px;
    }

    .news-next {
        display: none;
    }
    .news-prev {
        display: none;
    }
}
//adds padding to slides when slick slider is in effect
//responsive elements of slider configured in script.js file.
@media screen and (min-width:$device-small) {
    .news-slide {
        margin: 5vw 30px 5vw 30px;
    }
}