@use "./components/main" ;
@use "./global";

$black: var(--color-black);
$white: var(--color-white);
$transparent-black: var(--color-transparent-black);
$orange: var(--color-orange);




.video-container{
    
    position: relative;
    transition: all 0.2s ease-in-out;

    h2{
        position: absolute;
        width: 100%;
        color: $black;
        text-align: center;
        font-weight: 700;
        font-size: 5vw;
        text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    }

    video{
        align-self: center; 
        width: 100%;
    }
        .fa-play{
            color: $orange;
            font-size: 18vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 50;
            cursor: pointer;
        }
        .background-icon{
            font-size: 18.3vw;
            color: $white;
            display: none;
            z-index: 49;
        }
}
.video-container:hover{
    .background-icon{
        display: block;
    }
}

.video-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-transparent-black);
    z-index: 100;

    .pop-up-element{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .video-popup-close{
      display: flex;
      justify-content: flex-end;
    //   width: 100vw;
      background: none;
    }

    .video-popup-container{
      justify-self: center;
      padding: 15px;
      background-color: $white;
    }
    .video-element{
        width: 100%;
        border: 3px solid $white;
        border-radius: 5px;
        transition: 0.5s ease-in-out;
        z-index: 1000;

    }
    .video-element:focus {
        border: 3px solid #34c3eb;
      }

    .close-text{
        background: $black;
        color: $white;
        font-weight: 400;
        cursor: pointer;
        z-index: 95;
        margin: 0;
        padding: 5px 15px 5px 15px;
    }
    .close-text:hover{
        background: $orange;
    }
  }


//media queries for mobile min width
@media (min-width: 320px) {
    .video-popup-close{
        width:100vw;
    }
    .close-text{
        font-size: 3vw;
    }
}

//media queries for tablet min width
@media (min-width: 768px) {
    // .video-popup-container{
    //     // width: 650px;
    // }
    .video-popup-close{
        width: 101%;
    }

    .close-text {
        position: relative;
        top: 18px;
        font-size: 1rem;
        
    }
    .pop-up-element{
        width: 75%;
    }
}

//media queries for desktop min width

@media (min-width: 1024px) {
    .pop-up-element{
        width: 55%;
    }
}
