@use "./components/main" ;
@use "./global";

$black: var(--color-black);
$white: var(--color-white);
$transparent-black: var(--color-transparent-black);
$orange: var(--color-orange);


.video-container{
    position: relative;
    transition: all 0.2s ease-in-out;
    h2{
        position: absolute;
        width: 100%;
        color: $black;
        text-align: center;
        font-weight: 700;
        font-size: 5vw;
        text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    }

    video{
        align-self: center; 
        width: 100%;
    }
        .fa-play{
            color: $orange;
            font-size: 18vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 50;
        }
        .background-icon{
            font-size: 18.3vw;
            color: $white;
            display: none;
            z-index: 49;
        }
}
.video-container:hover{
    .background-icon{
        display: block;
    }
}


.video-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparent-black;
    z-index: 1000;
    .video-popup-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 750px;
        object-fit: cover;
        background-color: $black;
    }
    .video-popup-close{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: $black;
        color: $white;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }
}